/*GENERAL STYLES*/
*::after,

*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #fff;
}

body {
    font-family: 'Gentium Book Basic', serif, 'Yeseva One', cursive,'Lato', 'Open Sans', sans-serif;
	font-size: 16px;
	margin: 0;
}
.container {
    max-width: 1600px;
    width: 100%;
}
.header {
    background-image: url(../img/bg1.jpg);
}
.menu {
    width: 80%;
    margin: 0 auto;
    padding-top: 5px;
}
.logo {
    display: inline-block;
}
.nav {
    float: right;
}
.nav-list-item {
    display: inline-block;
    padding: 30px 0 0 45px;
}
.nav-list-item a:hover {
    color: chocolate;
    transition: 0.3s ease;

}
.main-text {
    width: 70%;
    margin: 0 auto;
    margin-top: 140px;
}
h1 {
    font-family: 'Yeseva One';
    font-size: 90px;
    text-align: center;
    color: #fff;

}
.main-text img {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}
.btns-block {
    width: 32%;
    margin: 0 auto;
    margin-top: 30px;
}
.black-btn,
.white-btn {
    font-family: 'Lato';
    font-size: 18px;
    height: 50px;
    width: 225px;
    cursor: pointer;
    line-height: 3;
}
.black-btn {
    background-color: rgba(0, 0, 0, 0.6) ;
    border: 1px solid #000;
    color: #fff;
    margin-right: 30px;
  
}
.white-btn {
    background-color: rgb(255, 255, 255, 0.2) ;
    border: 1px solid #fff;
    color: #fff;
    
}
/*POP UP BOOK A TABLE*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-image: url(../img/bg-black5.png);
    margin: auto;
    padding: 10px;
    border: 3px solid #888;
    border-radius: 10px;
    width: 455px;
    height: 350px;
    
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 43px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /* Modal Form*/
.modal-form {
    padding: 3%;
    font-family: 'Lato', sans-serif ;
}
.modal-title {
    color:#ecc046;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
.label-modal {
    color:#ecc046;
    font-size: 19px;
}
.modal-form input {
    border-radius: 5px;
    float: right;
}
.input-modal {
    border: 2px solid #c89f2d;
}
.modal-button {
    display: block;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0);
    color: #ecc046;
    font-size: 28px;
    border: none;
    margin-top: 21px;
    letter-spacing: 3px;

}
.modal-button:hover {
    color: #000;
    background-color: #ecc046;
    transition: 0.3s;
    cursor: pointer;
}